doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //- 1
    title Navbar
    //- 2
    // Box Icons
    link(rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css")
    //- 3
    link(rel="stylesheet" href="css/style.css")


  body 
    //- 4
    header(class="header" id="header")
      //- 5
      nav(class="nav container")
        // Logo 
        |
        | 
        //- 6
        a(href="#" class="nav-logo") Logo 
        // Menu 
        |
        //- 7
        div(class="nav-menu" id="nav-menu")
          ul(class="nav-list")
            li(class="nav-item")
              a(href="#home" class="nav-link active-link") Home
            li(class="nav-item")
              a(href="#about" class="nav-link") About
            li(class="nav-item")
              a(href="#services" class="nav-link") Services
            li(class="nav-item")
              a(href="#team" class="nav-link") Team
            li(class="nav-item")
              a(href="#contact" class="nav-link") Contact
            li(class="nav-item")
              i( class="bx bx-moon change-theme" id="theme-button")
        // Toggle Theme 
        |
        //- 8
        div(class="nav-toggle" id="nav-toggle")
          i(class="bx bx-menu")

    // Main 
    |
    |
    //- 5
    main(class="main") 
      div(class="container") 
        section(class="home" id="home") 
          h2(class="responsive_headline") Home
        section(class="about" id="about") 
          h2(class="responsive_headline") About
        section(class="services" id="services") 
          h2(class="responsive_headline") Services
        section(class="team" id="team") 
          h2(class="responsive_headline") Team 
        section(class="contact" id="contact") 
          h2(class="responsive_headline") Contact 

    // Footer
    |
    |
    //- 6
    footer(class="footer" id="footer")
      div(class="container")
        h2 Footer

    // Scroll Top
    |
    |
    //- 98
    a(href="#" class="scroll-top" id="scroll-top")
      i(class="bx bx-chevron-up scroll-top-icon")

    |
    |
    //- 99
    //- Go To Link
    //- https://scrollrevealjs.org/guide/hello-world.html
    // Scroll Reveal
    script(src="https://unpkg.com/scrollreveal")

    |
    |
    //- 100
    script(src="js/script.js")
    //- script(src="js/scriptTsToJs.js")

    script(src="http://localhost:35729/livereload.js")
